.feature-wrapper {
  background-color: deepskyblue;
  height: 50vh;
  width: 100%;
  position: relative;
}

.image-wrapper {
  height: 100%;
  overflow: hidden;

  & img {
    width: 100%;
    height: auto;
  }
}

.titleWrapper {
  position: absolute;
  top: 20%;
  left: 10%;
  color: white;
  text-align: left;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

button {
  position: absolute;
  top: 70%;
  left: 10%;
  border: 1px solid deepskyblue;
}

@media screen and (max-width: 425px){
  .titleWrapper {
    top: 80%;
  }

  h1 {
    font-size: large;
  }

  h2 {
    font-size: medium;
  }
}

