@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* for sidenav to take a whole page */
html, body {
  margin: 0;
  height: 100%;
  background-color: deepskyblue;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar.mat-primary {
  background-color: #c2185b;
}

.mat-flat-button {
  background-color: #c2185b;
  color: #ffffff;
}

.content-wrapper {
  height: auto;
  width: 100%;
  background-color: lightskyblue;
}
